/* fonts.css*/
@font-face {
	font-family: 'Sava';
	src: url('../fonts/savaproregular.eot');
	src: url('../fonts/savaproregular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/savaproregular.woff') format('woff'),
		 url('../fonts/savaproregular.ttf') format('truetype'),
		 url('../fonts/savaproregular.svg#savaproregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'Sava';
        src: url('../fonts/savaproregular.svg#savaproregular') format('svg');
    }
}

@font-face {
	font-family: 'SavaBold';
	src: url('../fonts/savaprobold.eot');
	src: url('../fonts/savaprobold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/savaprobold.woff') format('woff'),
		 url('../fonts/savaprobold.ttf') format('truetype'),
		 url('../fonts/savaprobold.svg#savaprobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'SavaBold';
        src: url('../fonts/savaprobold.svg#savaprobold') format('svg');
    }
}

@font-face {
	font-family: 'StoneSans';
	src: url('../fonts/stonesansstdmedium.eot');
	src: url('../fonts/stonesansstdmedium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/stonesansstdmedium.woff') format('woff'),
		 url('../fonts/stonesansstdmedium.ttf') format('truetype'),
		 url('../fonts/stonesansstdmedium.svg#stonesansstdmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'StoneSans';
        src: url('../fonts/stonesansstdmedium.svg#stonesansstdmedium') format('svg');
    }
}

@font-face {
	font-family: 'StoneSansItalic';
	src: url('../fonts/stonesansstdmediumitalic.eot');
	src: url('../fonts/stonesansstdmediumitalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/stonesansstdmediumitalic.woff') format('woff'),
		 url('../fonts/stonesansstdmediumitalic.ttf') format('truetype'),
		 url('../fonts/stonesansstdmediumitalic.svg#stonesansstdmediumitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'StoneSansItalic';
        src: url('../fonts/stonesansstdmediumitalic.svg#stonesansstdmediumitalic') format('svg');
    }
}

@font-face {
	font-family: 'StoneSansBold';
	src: url('../fonts/stonesansstdsemibold.eot');
	src: url('../fonts/stonesansstdsemibold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/stonesansstdsemibold.woff') format('woff'),
		 url('../fonts/stonesansstdsemibold.ttf') format('truetype'),
		 url('../fonts/stonesansstdsemibold.svg#stonesansstdsemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'StoneSansBold';
        src: url('../fonts/stonesansstdsemibold.svg#stonesansstdsemibold') format('svg');
    }
}

@font-face {
	font-family: 'StoneSansBoldItalic';
	src: url('../fonts/stonesansstdsemibolditalic.eot');
	src: url('../fonts/stonesansstdsemibolditalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/stonesansstdsemibolditalic.woff') format('woff'),
		 url('../fonts/stonesansstdsemibolditalic.ttf') format('truetype'),
		 url('../fonts/stonesansstdsemibolditalic.svg#stonesansstdsemibolditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'StoneSansBoldItalic';
        src: url('../fonts/stonesansstdsemibolditalic.svg#stonesansstdsemibolditalic') format('svg');
    }
}

/* jquery.bxslider.css*/
/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
/*
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 5px;
	left: -5px;
	background: #fff;
*/
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	/*
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	*/
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
/* jquery.jscrollpane.css*/
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
